
.header-menu
{
	background-color:hsl(219deg 39% 35%);
}

.navbar-brand h2
{
	font-family:'jost',sans-serif;
	font-size:30px;
	color:#fff;
}
.navbar-nav
{
	font-size:15px;
}

.nav-link:hover
{
	color:hsl(199deg 74% 59%);
}

.nav-item
{
	padding-left:10px;
}

.navbar-nav
{
	padding-left:145px;
}

.nav-link a
{
	padding:10px 0px 10px 30px;
}

.nav-link
{
	color:#fff;
}

.btuns
{
	border-radius:50px;
	border:2px solid hsl(199deg 74% 59%);
    color:#fff;	
	text-decoration:none;
	font-size:15px;
	padding:10px 22px;
	font-family:'jost',sans-serif;
}

.btuns:hover
{
	color:#fff;
	background:hsl(199deg 74% 59%);
}

.logo
{
	
	margin-top:8px;
	padding-left:8px;
	}
	
.logo-detail a
{
	text-decoration:none;
	color:#fff;
	font-size:30px;
	font-family:'jost',sans-serif;
}

.banner-section
{
	background-color:hsl(218deg 39% 35%);
}

.banner-content h1
{
	color:#fff;
	font-size:52px;
	padding-top:20px;
	font-family:'jost' ,sans-serif;
}

.banner-content p
{
	color:hsl(0deg 0%100% / 60%);
	font-size:24px;
	font-family:'jost' ,sans-serif;
	padding-bottom:50px;
}

.btns
{
	text-decoration:none;
	color:#fff;
	font-size:16px;
	background:hsl(199deg 74% 59%);
	padding:10px 28px 10px 28px;
	border-radius:50px;
	font-family:'jost',sans-serif;	
}

.btns:hover
{
	background:hsl(216% 98% 52%);
	color:#fff;
}

.banner-content i 
{
	color:#fff;
	font-size:25px;
	padding:10px;
}

.banner-content i:hover
{
	color:hsl(199deg 74% 59%);
	cursor:pointer;
}

.banner-content span
{
	font-size:16px;
	font-family:'jost',sans-serif;
	color:#fff;
	padding:10px;
}

.banner-content img
{
	width:100%;
	height:auto;
}

.animated
{
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {top:0px;}
  25%  {top:0px;}
  50%  {top:50px;}
  75%  {top:50px;}
  100% {top:0px;}
  
}

.about-section
{
	padding-bottom:50px;
}

.client-section
{
	background:lightgray;
}

.client-logo img
{
	width:72%;
	height:auto;
	margin-top:15px;
	padding:5px 25px;
	filter:grayscale(1);
	opacity:0.5;
	transition:all 0.3s ease;
	padding-bottom:20px;
}

.client-logo img:hover
{
	filter:grayscale(0);
	opacity:1;
	transform:scale(1.2);
}

.about-why
{
	background:hsl(223deg 41% 97%);
	padding-top:82px;
	padding-bottom:100px;
	
}

.about h1
{
	text-align:center;
	font-family:'jost',sans-serif;
	font-size:20px;
	padding-bottom:6px;
	padding-top:20px;
	color:hsl(218deg 39% 35%);
	position:relative;
}

.about h1:before
{
	content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 1px;
    background: hsl(0deg 0% 87%);
    bottom: 0px;
	left:46%;
	
}

.about h1:after
{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: hsl(199deg 74% 59%);
    bottom:0;
	left:48%
}

.about-content-icon p
{
	position:relative;
	padding:0px 26px;
	
}

.about-content-icon i 
{
	position:absolute;
	color:hsl(199deg 74% 59%);
	font-size:20px;
}

.button
{
	text-decoration:none;
	font-family:'jost',sans-serif;
	border-radius:5px;
	padding:12px 32px;
	color:hsl(199deg 74% 59%);
	border:2px solid hsl(199deg 74% 59%);
	display:inline-block;
}

.button:hover
{
	background:hsl(199deg 74% 59%);
	color:#fff;
}

.about-text h2
{
	font-family:'jost',sans-serif;
	color:hsl(218deg 39% 35%);
}

.accordion-item
{
	margin-bottom:20px;
}

.accordion-item span
{
	color:hsl(199deg 74% 59%);
}

.accordion-item strong:hover
{
	color:hsl(199deg 74% 59%);
}

.why-us img
{
	width:100%;
}

.skills img
{
	width:100%;
	padding-top:100px;
}

.content h2
{
	padding-top:40px;
	color:hsl(218deg 35% 39%);
	font-size:36px;
}

.content p
{
	font-style:italic;
}

.progress
{
	margin-bottom:20px;
	border-radius:0px;
	height:10px;
}

.span 
{
	font-family:'jost',sans-serif;
	color:hsl(218deg 39% 35%);
	font-size:12px;
	
}

.percentage
{
	font-style:normal;
	float:right;
    color:hsl(218deg 39% 35%);
    font-size:12px;	
	font-weight:600;
}

.service
{
	background:hsl(223Deg 41% 97%);
	padding-bottom:22px;
}

.service h1
{
	font-family:'jost',sans-serif;
	color:hsl(218deg 35% 39%);
	font-size:36px;
	text-align:center;
	padding-top:60px;
	position:relative;
}

.service h1:before
{
	content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    background: hsl(0deg 0% 87%);
    bottom:0px;
	left:45%;
}

.service h1:after
{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: hsl(199deg 74% 59%);
    bottom:0px;
	left:48%;
}

.service p
{
	text-align:center;
	padding-bottom:20px;
}

.icon
{
	box-shadow:0px 0px 25px 0px rgb(0 0 0 /10%);
	padding:50px 30px;
	background:#fff;
	transition: margin 2s;
}

.icon:hover
{
	margin:-30px 0px 0px 0px;
}

.icon i 
{
	font-size:40px;
	color:hsl(199deg 74% 59%);
}

.icon h4
{
	color:hsl(218deg 39% 35%);
	font-size:22px;
	padding-top:15px;
	padding-bottom:15px;
}

.icon h4:hover
{
	cursor:pointer;
	color:hsl(199deg 74% 59%);
}

.icon p
{
	text-align:left;
}

.cta-action
{
	background:linear-gradient(hsl(218deg 38% 25% / 90%),hsl(218deg 38% 25% / 90%)), url(../cta-bg.jpg);
	background-size:cover;
	padding:60px 0px;
	background-repeat:no-repeat;
}

.cta-action h3
{
	font-size:28px;
	font-family:'jost',sans-serif;
	color:#fff;
}

.cta-action p 
{
	color:#fff;
}

.call-action-butn
{
	text-decoration:none;
	font-family:'jost',sans-serif;
	font-size:15px;
	color:#fff;
	border:2px solid;
	border-radius:50px;
	padding:10px 20px;
}

.btun 
{
	padding:40px;
}

.port-content h1
{
	font-size:32px;
	color:hsl(218deg 39% 35%);
	padding-top:20px;
	font-family:'jost',sans-serif;
	text-align:center;
	position:relative;
}

.port-content h1:before
{
	content: "";
    position: absolute;
    display: block;
    width:100px;
    height: 1px;
    background: hsl(0deg 0% 87%);
    bottom:0px;
	left:45%;
}

.port-content h1:after
{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: hsl(199deg 74% 59%);
    bottom:0px;
	left:48%;
}

.port-content p 
{
	font-size:18px;
	padding-top:20px;
	text-align:center;
}

.port 
{
	text-align:center;
}

.port a
{
	color:black;
	font-family:'jost',sans-serif;
	text-decoration:none;
	padding:5px 20px 5px 20px;
}

.port a.nav-port
{
	color:#fff;
	background:hsl(199deg 74% 59%);
	border-radius:50px;
	padding:5px 20px 5px 20px;
}

.port a:hover
{
	background:hsl(199deg 74% 59%);
	color:#fff;
	border-radius:50px;
}

.port-folio
{
	height:auto;
	margin-top:50px;
	
}

.portfolio-img-items
{
	position:relative;
	overflow:hidden;
}

.portfolio-img-items img
{
	width:100%;
	height:auto;
	display:block;
	transition:all 0.3s ease;
}

.portfolio-img-items .portfolio-overlay
{
	opacity:0;
	transition:all 0.3s ease;
	
}

.portfolio-overlay .portfolio-content2
{
	position:absolute;
	left:0%;
	bottom:0%;
	width:100%;
}

.portfolio-content2
{
	background:hsl(218deg 39% 35% / 80%);
}

.portfolio-content2 h4
{
	color:#fff;
	 font-weight:600;
	 margin-bottom:10px;
	 font-size:20px;
	 font-family:'Poppins', sans-serif;
}

.portfolio-content2 h5
{
	font-family: "Open Sans", sans-serif;
	font-style:italic;
	color:#ccc;
	font-size:15px;
	text-transform:uppercase;
	padding-bottom:10px;
}

.portfolio-content2 a{
	text-decoration:none;
	color:#ccc;
	font-size:20px;
	transition:all 0.3s ease;
}

.portfolio-content2 a:hover
{
	color:#fff;
}

.portfolio-img-items:hover img
{
	transform:scale(1.2);
}
	
.portfolio-img-items:hover .portfolio-overlay
{
	opacity:1;
}



















.team
{
	background:hsl(223deg 41% 97%);
	margin-top:20px;
}
.team-info h1
{
	font-size:42px;
	color:hsl(218deg 39% 35%);
	padding-top:20px;
	font-family:'jost',sans-serif;
	text-align:center;
	position:relative;
}

.team-info h1:before
{
	content: "";
    position:absolute;
    display: block;
    width: 80px;
    height: 1px;
    background: hsl(0deg 0% 87%);
    bottom:0px;
	left:46%;
}

.team-info h1:after
{
    content: "";
    position:absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: hsl(199deg 74% 59%);
    bottom:0px;
	left:48%;
}

.team-info p 
{
	font-size:18px;
	text-align:center;
	padding-top:15px;
}

.team-picture
{
	position:relative;
	box-shadow:0px 2px 15px;
	border-radius:5px;
	background:#fff;
	display:flex;
	padding:30px;
	margin-top:20px;
	transition:2s;
	margin-bottom:20px;
}

.team-picture img
{
	width:35%;
	height:auto;
	border-radius:200px;
}

.member-info
{
	padding-left:30px;
}

.member-info span
{
	font-size:15px;
	position:relative;
	padding-bottom:10px;
}

 span:after
{
	content: "";
    display: block;
    width: 50px;
    height: 1px;
	position:absolute;
    background: hsl(218deg 45% 85%);
    bottom:0px;
}

.member-info h4
{
	font-family:'jost',sans-serif;
	font-size:20px;
}

.member-info p 
{
	font-size:14px;
	padding-top:10px;
}

.team-logo a
{
	text-decoration:none;
	border-radius:50px;
	background:hsl(220deg 39% 95%);
	padding:10px 12px 10px 12px;
}

.team-logo a:hover
{
	color:#fff;
	background:hsl(199deg 74% 59%);
}

.team-picture:hover
{
	margin:-5px 0px 0px 0px;
}
	
.pricing-content h1
{
	font-family:'jost',sans-serif;
	font-size:32px;
	color:hsl(218deg 39% 35%);
	padding-top:20px;
	text-align:center;
	position:relative;
}

.pricing-content p
{
	font-size:18px;
	text-align:center;
	padding-top:15px;
}

.pricing-content h1:before
{
	content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 1px;
    background: hsl(0deg 0% 87%);
    bottom:0px;
	left:46%;
}

.pricing-content h1:after
{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: hsl(199deg 74% 59%);
    bottom:0px;
	left:48%;
}

.pricing-value
{
	padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgb(20 45 100 / 48%);
    background: hsl(0deg 0% 100%);
    border-top: 4px solid hsl(0deg 0% 100%);
    border-radius: 5px;
}

.pricing-value h3 
{
	margin-bottom:15px;
	font-size:20px;
	color:hsl(219deg 39% 35%);
	font-family:'jost',sans-serif;
}

.pricing-value h4
{
	font-size:48px;
	color:hsl(218deg 39% 35%);
	font-family:'jost',sans-serif;
	margin-bottom:25px;
}

.pricing-value h4 sup
{
	font-size:25px;
}

.pricing-value h4 span
{
	font-size:18px;
	color:hsl(199deg 74% 59%);
	font-family:'jost',sans-serif;
	display:block;
}

.pricing-value p span
{
	text-decoration:line-through;
}

.getbtns
{
	text-decoration:none;
	font-family:'jost',sans-serif;
	font-size:16px;
	color:hsl(197deg 71% 73%);
	padding:6px 20px;
	border:1px solid;
	border-radius:50px;
	display:inline-block;
}

.getbtns:hover
{
	color:#fff;
	background:hsl(197deg 71% 73%);
}

.btns-active:active
{
	color:#fff;
	background:hsl(197deg 71% 73%);
}
	

.frequently
{
	background:hsl(223deg 41% 97%);
	margin-top:20px;
}

.frequently h1
{
	font-family:'jost',sans-serif;
	font-size:40px;
	margin-top:30px;
	color:hsl(218deg 39% 35%);
	position:relative;
	text-align:center;
}

.frequently p 
{
	margin-top:20px;
	text-align:center;
	color:black;
}


.frequently h1:before
{
	content: "";
    position: absolute;
    display: block;
    width: 150px;
    height: 1px;
    background: hsl(0deg 0% 87%);
    bottom:0px;
	left:45%;
}

.frequently h1:after
{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: hsl(199deg 74% 59%);
    bottom:0px;
	left:50%;
	
}

.accordion-button
{
	color:hsl(240deg 73% 38%);
	background:#fff;
}

.accordion-item i
{
	color:hsl(173deg 71% 73%);
	margin-right:12px;
}
	

.accordion-button
{
	padding:25px;
	border-radius:4px;
	position:relative;
	background:hsl(0deg 0% 100%);
}

.contact-info
{
	margin-top:20px;
}

.contact-content h1
{
	font-family:'jost',sans-serif;
	font-size:40px;
	margin-top:30px;
	color:hsl(218deg 39% 35%);
	position:relative;
	text-align:center;
}

.contact-content p 
{
	margin-top:20px;
	text-align:center;
}

.contact h1:before
{
	content: "";
    position: absolute;
    display: block;
    width:80px;
    height: 1px;
    background: hsl(0deg 0% 87%);
    bottom:0px;
	left:46%;
}

.contact h1:after
{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: hsl(199deg 74% 59%);
    bottom:0px;
	left:48%;
}

.contact-info
{
    border-top: 3px solid hsl(199deg 74% 59%);
    border-bottom: 3px solid hsl(199deg 74% 59%);
    padding:30px;
    background:hsl(0deg 0% 100%);
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 50%);
}

.address h4 
{
	padding:0 0 0 60px;
	font-size:22px;
	margin-bottom:5px;
	color:hsl(218deg 39% 35%);
}

.address p
{
	padding:0 0 10px 60px;
	margin-bottom:20px;
	font-size:15px;
	color:hsl(218deg 39% 35%);
}

.email h4 
{
	padding:0 0 0 60px;
	font-size:22px;
	margin-bottom:5px;
	color:hsl(218deg 39% 35%);
}

.email p
{
	padding:0 0 10px 60px;
	margin-bottom:20px;
	font-size:15px;
	color:hsl(218deg 39% 35%);
}

.call h4 
{
	padding:0 0 10px 60px;
	font-size:22px;
	margin-bottom:5px;
	color:hsl(218deg 39% 35%);
}

.call p
{
	padding:0 0 0 60px;
	margin-bottom:20px;
	font-size:15px;
	color:hsl(218deg 39% 35%);
}

.contact-info i
{
	font-size:20px;
	color:hsl(199deg 74% 59%);
	background:hsl(198deg 71% 95%);
	display:flex;
	border-radius:50px;
	float:left;
	padding:10px;
}

.newsletter
{
	background:hsl(223deg 41% 97%);
	margin-top:20px;
	padding-bottom:30px;
}

.fieldset
{
	border-bottom:3px solid hsl(199deg 74% 59%);
	box-shadow:0 0 25px 0 rgb( 0 0 0 / 50%);
	border-top:3px solid hsl(199deg 74% 59%);
	padding:30px;
	background:#fff;
	margin-top:20px;
}

.form-control
{
	font-size:12px;
	width:100%;
	padding:12px 0px 12px 10px;
	margin:0 0 20px 0;
	border:1px solid #ccc;
	border-radius:2px;
	margin-bottom:20px;
}

.form-control
{
	font-size:12px;
	width:100%;
	padding:12px 0px 12px 10px;
	margin:0 0 20px 0;
	border:1px solid #ccc;
	border-radius:2px;
	margin-bottom:20px;
}

.subject
{
	font-size:12px;
	width:100%;
	padding:12px 0px 12px 10px;
	margin:0 0 20px 0;
	border:1px solid #ccc;
	border-radius:2px;
	margin-bottom:20px;
}

.message
{
	font-size:12px;
	width:100%;
	padding:12px 0px 12px 10px;
	margin:0 0 20px 0;
	border:1px solid #ccc;
	border-radius:2px;
	margin-bottom:20px;
	height:200px;
}

.send
{
	text-align:center;
}

.send a
{
	border-radius:50px;
	color:#fff;
	background:hsl(199deg 74% 59%);
	font-family:'join-news',sans-serif;
	text-decoration:none;
	padding:10px 15px 10px 15px;
	
}

.join-news h1
{
	font-family:'jost',sans-serif;
	font-size:26px;
	color:hsl(218deg 39% 35%);
	text-align:center;
	margin-top:20px;
}

.join-news p 
{
	text-align:center;
}

.form form{
	margin-top:30px;
	background-color:#fff;
	padding:6px 12px;
	position:relative;
	border-radius:50px;
	text-align:left;
	width:50%;
	border-radius:50px;
	box-shadow:0 5px 16px rgb(0 0 0 / 12%);
}



.form form input[type=email]
{
	border:0;
	padding:6px 10px;
	width:82%;
}

.form form input[type=submit]
{
	position:absolute;
	top:0;
	right:-1px;
	bottom:0px;
	border:0px;
	font-size:18px;
	padding:0px 20px;
	background-color:hsl(199deg 74% 59%);
	color:#fff;
	border-radius:50px;
	box-shadow:0 4px 14px rgb(0 0 0 /10%);
}

.arsha-address h1
{
	font-family:'jost',sans-serif;
	font-size:32px;
	color:hsl(218deg 39% 35%);
}

.arsha-address p
{
	font-size:15px;
	line-height:22px;
}

.arsha 
{
	margin-top:20px;
}

.useful-links h1
{
	font-family:'jost',sans-serif;
	font-size:20px;
	color:hsl(218deg 39% 35%);
}
.useful-links ul
{
	list-style:none;
	padding-left:0px;
	line-height:40px;
}

.useful-links a
{
	text-decoration:none;
	color:hsl(0deg 0% 0% / 60%)
}

.useful-links a:hover
{
	color:hsl(192deg 58% 71%);
}

.useful-links i 
{
	font-size:20px;
	line-height:30px;
	color:hsl(192deg 58% 71%);
}

.our-service h1
{
	font-family:'jost',sans-serif;
	font-size:20px;
	color:hsl(218deg 39% 35%);
}
.our-service ul
{
	list-style:none;
	padding-left:0px;
	line-height:40px;
}

.our-service a
{
	text-decoration:none;
	color:hsl(0deg 0% 0% / 60%)
}

.our-service a:hover
{
	color:hsl(192deg 58% 71%);
}

.our-service i 
{
	font-size:20px;
	line-height:30px;
	color:hsl(192deg 58% 71%);
}

.our-servicenetwork h1
{
	font-family:'jost',sans-serif;
	font-size:20px;
	color:hsl(218deg 39% 35%);
}

.our-servicenetwork
{
	font-size:15px;
	color:hsl(0deg 0 0 0 / 60%);
}

.social-logo a 
{
	text-decoration:none;
	color:#fff;
	border-radius:50px;
	background:hsl(192deg 58% 71%);
	padding:10px 12px 10px 12px;
}

.social-logo a:hover
{
	background:hsl(218deg 39% 35%);
}

.copy-right
{
	background:hsl(218deg 39% 35%);
	padding:30px 0;
}

.desinger
{
	color:#fff;
	text-align:center;
}

.desinger a 
{
	text-decoration:none;
	color:hsl(192deg 58% 71%);
}
